!!!5
%html
  %head
    %meta{:content => "Sitio web de la comunidad tijuana.rb", :name => "description"}
      %meta{:content => "Mario Alberto Chavez @ Decisiones Inteligentes", :name => "author"}
        %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
          %title tijuana.rb
          %style{:media => "screen", :type => "text/css"}
            body {
            background: #dbdbdb url('images/background.png') no-repeat fixed center;
            }
            \#content {
            margin: auto;
            top: 150px;
            width: 800px;
            position: relative;
            }
            \#logo {
            position: absolute;
            top: 80px;
            left: 40px;
            }
            \#separator {
            position: absolute;
            top: 90px;
            left: 240px;
            }
            \#title {
            position: absolute;
            top: 30px;
            left: 290px;
            }
            \#twitter {
            position: relative;
            top: -80px;
            left: 240px;
            }
            \#google {
            position: relative;
            top: -129px;
            left: 303px;
            }
  %body
    #content
      #logo
        %img{:src => "images/tijuanarb-logo.png"}/
      #separator
        %img{:src => "images/separator.png"}/
      #title
        %img{:src => "images/tijuanarb.png"}/
        %img{:src => "images/message.png"}/
        #twitter
          %a{:href => "http://twitter.com/tijuanarb"}
            %img{:src => "images/twitter.png"}/
        #google
          %a{:href => "http://groups.google.com/group/tijuanarb"}
            %img{:src => "images/google.png"}/
            
    %script {:type="text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19013707-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

